absl_py==2.1.0
deepdiff==7.0.1
dm_tree==0.1.8
matplotlib==3.9.0
mock==5.1.0
mpyq==0.2.5
numpy==1.26.4
openai==1.30.4
portpicker==1.6.0
protobuf==3.20.0
psutil==5.9.8
pygame==2.5.2
Requests==2.32.2
s2clientprotocol==5.0.12.91115.0
s2protocol==5.0.12.91115.0
setuptools==69.5.1
sk_video==1.1.10
websocket_client==1.8.0
